#current-data,#forecast {
  display: none;
}
img {
  max-width: 5%;
  height: auto;
  display: block;
}
.low {
  background-color: green;
  color: black;
}
.moderate {
  background-color: yellow;
  color: black;
}

.high {
  background-color: orange;
  color: black;
}
.very-high {
  background-color: red;
  color: black;
}
.extreme {
  background-color: purple;
  color: black;
}